<ul>
    <li>
        <a class="nav-link" [routerLink]="['/system', 1]" routerLinkActive="active">🔥 Combustion</a>
    </li>
    <li>
        <a class="nav-link" [routerLink]="['/system', 2]" routerLinkActive="active">🥛 Container</a>
    </li>
    <li>
        <a class="nav-link" [routerLink]="['/system', 3]" routerLinkActive="active">🧵 Cordage</a>
    </li>
    <li>
        <a class="nav-link" [routerLink]="['/system', 4]" routerLinkActive="active">⛺️ Cover</a>
    </li>
    <li>
        <a class="nav-link" [routerLink]="['/system', 5]" routerLinkActive="active">🔪 Cutting</a>
    </li>
</ul>